@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-bg {
    background-image: url(@images/stacked-wave-2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    transform: rotate(180deg);
    @apply w-full h-[381px] 2xl:bg-cover 2xl:top-20;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
