version: "3.9"
services:
  redis:
    image: redis/redis-stack:7.2.0-v0
    ports:
      - 6379:6379
      - 8001:8001

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - 9090:9090
    networks:
      - dcapalnetwork
    volumes:
      - ./config/prometheus:/etc/prometheus
      - ./data/prometheus/:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.external-url=http://localhost:9090"
    extra_hosts:
      host.docker.internal: host-gateway
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - 3000:3000
    networks:
      - dcapalnetwork
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: always
    ports:
      - 8010:8080
    networks:
      - dcapalnetwork
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  postgres-db:
    volumes:
      - ./docker/scripts:/docker-entrypoint-initdb.d
networks:
  server-side: { }