[package]
name = "dcapal-backend"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
axum = { version = "0.7.2", features = ["macros"] }
axum-extra = { version = "0.9.0", features = ["typed-header"] }
hyper = { version = "1.0.1", features = ["full"] }
deadpool-redis = { version = "0.13.0", features = ["serde"] }
redis = { version = "0.23.3", features = ["tokio-comp"] }
reqwest = { version = "0.11.22", features = ["gzip", "json"] }
serde = "1.0.193"
serde_json = "1.0.108"
thiserror = "1.0.51"
tokio = { version = "1.35.0", features = ["full"] }
tower = "0.4.13"
tower-http = { version = "0.5.0", features = ["trace"] }
tracing = "0.1.40"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
chrono = { version = "0.4.31", features = ["serde"] }
const_format = "0.2.31"
futures = "0.3.29"
strum = "0.25.0"
strum_macros = "0.25.3"
config = "0.13.4"
lazy_static = "1.4.0"
parking_lot = "0.12.1"
metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.2"
tracing-appender = "0.2.3"
regex = "1.10.2"
itertools = "0.12.0"
failsafe = "1.2.0"
ip2location = "0.5.0"
jsonschema = "0.17.1"
uuid = { version = "1.6.1", features = ["v4"] }
