[package]
name = "dcapal-backend"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.89"
axum = { version = "0.7.7", features = ["macros"] }
axum-extra = { version = "0.9.4", features = ["typed-header"] }
hyper = { version = "1.4.1", features = ["full"] }
deadpool-redis = { version = "0.18.0", features = ["serde"] }
redis = { version = "0.27.2", features = ["tokio-comp"] }
reqwest = { version = "0.12.7", features = ["gzip", "json"] }
serde = "1.0.210"
serde_json = "1.0.128"
thiserror = "1.0.64"
tokio = { version = "1.40.0", features = ["full"] }
tower = "0.5.1"
tower-http = { version = "0.6.0", features = ["trace"] }
tracing = "0.1.40"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
chrono = { version = "0.4.38", features = ["serde"] }
const_format = "0.2.33"
futures = "0.3.30"
strum = "0.26.3"
strum_macros = "0.26.4"
config = "0.13.4"
lazy_static = "1.5.0"
parking_lot = "0.12.3"
metrics = "0.23.0"
metrics-exporter-prometheus = "0.15.3"
tracing-appender = "0.2.3"
regex = "1.10.6"
itertools = "0.13.0"
failsafe = "1.3.0"
ip2location = "0.5.3"
jsonschema = "0.20.0"
uuid = { version = "1.10.0", features = ["v4"] }
