[package]
name = "dcapal-optimizer-wasm"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
# WASM dependencies
wasm-bindgen = { version = "0.2.92", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.42"
wasm-logger = "0.2.0"
js-sys = "0.3.69"
console_error_panic_hook = { version = "0.1.7", optional = true }
# Library dependencies
log = "0.4.22"
minilp = "0.2.2"
serde = { version = "1.0.204", features = ["derive"] }
serde-wasm-bindgen = "0.6.5"
futures = "0.3.30"
anyhow = "1.0.86"
thiserror = "1"
lazy_static = "1.5.0"
rand = "0.8.5"
getrandom = { version = "0.2.15", features = ["js"] }
rust_decimal = { version = "1.35.0", features = ["serde-with-float"] }
rust_decimal_macros = "1.35.0"

[dev-dependencies]
wasm-bindgen-test = "0.3.42"
env_logger = "0.11.5"
test-log = { version = "0", features = ["log"] }
glob = "0.3.1"
serde_json = "1.0.120"
